@use "../../abstracts.scss" as a;

.loginForm {
    font-size: a.$formFontSize ;
    font-weight: 600;

    .input {
        font-size: a.$formFontSize - 5;
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    button {
        margin: 5px;
    }

    .navlink {
        text-decoration: underline;
        color: rgba(23, 23, 251, 0.425);
    }
}