@use "../../abstracts.scss" as a;

.registerForm {
    .formHead{
        font-size: a.$formFontSize + 10;
        font-weight: bold;
    }
    font-size: a.$formFontSize;
    font-weight: 600;
    .input {
        font-size: a.$formFontSize - 5;
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
}